.myError {
  position: absolute;
  top: 1px;
  right: 15px;
  color: #ff0000;
}
.errorField {
  box-shadow: 0px 0px 0px 1.5px #ff0000;
}
.requiredField {
  position: absolute;
  bottom: -2px;
  right: 15px;
  color: #ff0000;
}
