.bigButton {
  width: 100%;
  height: 35px;
  color: white;
  border: none;
  border-radius: 20px;
  background: lightsalmon;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.backBigButton {
  width: 100%;
  height: 35px;
  color: white;
  border: none;
  border-radius: 20px;
  background: rgba(220, 20, 60, 0.8);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.bigButton:active {
  background: rgb(124, 204, 124);
}
.bigButton:disabled {
  background: rgba(255, 255, 255, 0.499);
}
.backBigButton:active {
  background: rgb(214, 77, 105);
}
