.userPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}
.userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.mastersArea{
    height: 382px;
    position: relative;
    overflow: scroll;
}
.mastersFieldset{
    border: none;
}
.masterItem{
    display: flex;
}
