.wrapper {
  display: flex;
  align-items: center;
}
.threeDotsMenu {
  display: flex;
  align-items: center;
  height: 100%;
}
.threeDotsMenu:hover {
  scale: 1.2;
}
.hideActionsMenu {
  width: 150px;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(30%);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 0.25s, visibility 0.2s ease-in;
}
.showActionsMenu {
  width: 150px;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px rgb(75, 75, 75);
  background-color: rgba(255, 255, 255, 0.2);
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.2s, opacity 1s, visibility 1s ease-out;
}
.element {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 15px;
  padding: 2px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.element:hover {
  text-decoration: underline;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
.element:active {
  color: rgb(124, 204, 124);
}
.elementIcon {
  padding-left: 5px;
}
.elementLabel {
  width: 73%;
  padding-right: 5px;
}
