* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
}
.App {
  min-width: 580px;
  min-height: 615px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 70px);
}
.active {
  padding-bottom: 10px;
  border-bottom: lightsalmon 3px solid;
  color: #ffffff;
}
.myButtonWrapper {
  padding: 20px 0px;
}
.addButtonWrapper {
  padding: 30px 0px;
}
.buttonBoxWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px 0;
}
.buttonBox {
  width: 48%;
}
.hideButtons {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 0.2s, visibility 0.2s ease-in;
}
.showButtons {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.2s, opacity 0.6s, visibility 0.6s ease-out;
}
